<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Study Helper Tools </title>
    <link rel="stylesheet" href="~/css/MainPage.css" />
    <script type="text/javascript">
        window.history.pushState(null, null, location.href);
        window.history.back();
        window.history.forward();
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
</head>
<body>


    <!--Side Bar-->

    <section id="sidebar">
        <a href="#" class="brand">
            <i class='bx bxs-down-arrow'></i>
            <span class="text">Study Helper</span>
        </a>
        <ul class="side-menu top">
            <li class="@SharedValues.DashBoardActive">
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="@SharedValues.ToDoActive">
                <a href="#">
                    <i class='bx bxs-check-square'></i>
                    <span class="text">To Do</span>
                </a>
            </li>
            <li class="@SharedValues.PromdoroActive">
                <a href="/Promodoro/PromodoroIndex">
                    <i class='bx bxs-timer'></i>
                    <span class="text">Pomodoro</span>
                </a>
            </li>
            <li class="@SharedValues.AnalyticsActive">
                <a href="#">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Analytics</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">Logout</span>
                </a>
            </li>
        </ul>
    </section>

    <!--Side Bar-->
    <!-- CONTENT -->

    <section id="content">

        <!-- NAVBAR -->

        <nav>
            <i class='bx bx-menu'></i>
            <a href="#" class="profile">
                <img src="@SharedValues.CurUser.PhotoPath">
            </a>
            <a href="#" class="nav-link">@SharedValues.CurUser.FirstName @SharedValues.CurUser.LastName</a>
        </nav>

        <!-- NAVBAR -->
        <!-- MAIN -->
        <!-- MAIN -->

        <main>
            <!--Render Body-->
            @RenderBody()

        </main>
    </section>

    <!-- CONTENT -->
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/MainPage.js"></script>
</body>
</html>
